.mySwiper img{
    height: 700px;
    width: 100%;
    object-fit: cover;
}
.line{
    line-height: 1.5em;
}


@media screen and (max-width: 640px) {
    .mySwiper img{
        height: 450px;
        width: 100%;
    }
}
